section {
    border: 10px solid red;
    width: 300px;
    position: relative;
    height: 500px;
  }
  
  section > div {
    position: absolute;
    background-color: gold;
    width: 50%;
    height: 50%;
  }
  
  section > div:nth-child(1) {
    background-color: pink;
    top:20%;
    left:20%;
  }
  
  section > div:nth-child(2) {
    background-color: blue;
    top:25%;
    left:25%;
  }
  
  section > div:nth-child(3) {
    background-color: green;
    top:30%;
    left:30%;
  }
  
  section > div:nth-child(4) {
    background-color: grey;
      top:35%;
    left:35%;
  }

  .dog {
    border: 10px solid red;
    width: 300px;
    position: relative;
  }
  
  .dog > img {
    display: block;
    width: 100%;
  }
  
  .dog > .explain {
    position: absolute;
    top: 120px;
    right: 50px;
    font-size: 2rem;
    background-color: rgba(255,255,255,0.5);
    /* visibility: hidden;
    opacity:0; */
    border-radius:14px;
  }
  
  